@model WebUI.Models.TsEntryViewModel

<p>
    @Html.ActionLink("Create New", "Create", "Week", new { id = Model.TsEntryId })
</p>

<table class="table table-bordered table-hover" id="timesheets">
    <tr>
        <th>
            <label>Period</label>
        </th>
        <th>
            <label>Start Date</label>
        </th>
        <th>
            <label>End Date</label>
        </th>
        <th>
            <label>Total Hours</label>
        </th>
        <th>
            <label>Actions</label>
        </th>
    </tr>
    @foreach (var item in Model.Weeks)
    {
        <tr>

            <td>
                @Html.ActionLink(item.Name, "Edit", new { controller = "Week", id = item.TsWeekEntryId })
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.EndDate)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.TotalHours)
            </td>
            <td>
                <button class='btn-link js-delete' data-tmp-id=@item.TsWeekEntryId>Delete</button>
            </td>
        </tr>
    }
</table>