@model WebUI.Models.TsDocumentViewerModel

<table class="table">
    <tr>
        <th>
            Document Name
        </th>
        <th></th>
    </tr>

@for(int i=0; i<Model.UploadedDocuments.Count; i++) {
    <tr>
        <td>
            @if(Model.UploadedDocuments[i].SystemDefault){
                @Html.DisplayFor(m=>Model.UploadedDocuments[i].DocumentName)
            }
            else
            {
                @Html.DisplayFor(m => Model.UploadedDocuments[i].SavedName)
            }
            @Html.HiddenFor(m => Model.UploadedDocuments[i].DocumentName)
            @Html.HiddenFor(m => Model.UploadedDocuments[i].SavedName)
            @Html.HiddenFor(m => Model.UploadedDocuments[i].TsDocumentEntityId)
            @Html.HiddenFor(m => Model.UploadedDocuments[i].DocGuid)
            @Html.HiddenFor(m => Model.UploadedDocuments[i].SystemDefault)
            @Html.HiddenFor(m => Model.UploadedDocuments[i].UserId)
        </td>
        <td>
            @Html.ActionLink("Download", "Download", new { Model.UploadedDocuments[i].SavedName })
        </td>
    </tr>
}

</table>
